@import "partials/destyle";
@import "partials/base";
@import "partials/typo";

.logo {
  font-family: "BW Modelica", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  &__link {
    padding: 0 0.5rem;
    font-weight: bold;
  }
}

.square-unit__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
}

.square-unit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5rem solid;
  width: 300px;
  height: 300px;

  &__today {
    transform: rotate(-90deg) translate(5rem, 2.2rem);
    @extend %text-item;
    white-space: nowrap;
    width: 100%;
  }

  &__travel {
    @extend %text-item;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
  }

  &__items {
    &-top {
      @extend %text-item;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-left {
        display: flex;
        align-items: center;
      }
    }
    &-bottom {
      @extend %text-item;
      padding: 0.5rem;
    }
    &-right {
      @extend %text-item;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2rem;
      align-self: start;
    }
    &-mini-wrap {
      width: 32px;
      line-height: 0.5rem;
      padding: 0.3rem;
    }
  }
  &__item {
    @extend %text-item;
    padding: 0.5rem;

    &-mini {
      font-size: 0.5rem;
    }
  }

  &__main-activity {
    font-weight: bold;
    font-size: 2rem;
    padding: 0 1rem 0 3rem;
  }

  &__times {
    @extend %text-item;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
  }
}
